<div class="container-fluid footer">
    <div class="row">
        <div class="container">
            <div class="col-sm-12 text-center icons">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span> 
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span> 
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="col-sm-12 text-center">
                <p>© HLKS 1945 - 2014. Dentistit ei pure.</p>
            </div>
        </div>
    </div>
</div>