---
layout: default
---
<div class="container post">
  <div class="row">
    <div class="col-sm-9">
    
      <div class="post-header">
        <h1><a id="more">{{ page.title }}</a></h1>
        <p>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
      </div>

      <div class="post-content">
        {{ content }}
      </div>

    </div>
    <div class="col-sm-3 posts-list">
      {% include list-of-posts.html %}
    </div>
  </div>
</div>
