---
layout: default
---
<div class="container post">
  <div class="row">
    <div class="col-sm-9">
    
      <div class="post-header">
        <h1><a id="more">{{ page.title }}</a></h1>
        <p>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
      </div>

      <div class="post-content">
        {{ content }}
      </div>

    </div>
    <div class="col-sm-3 posts-list">
      {% for post in site.posts %}
        <h3>
          <a href="{{ post.url | prepend: site.baseurl }}#more">{{ post.title }}</a>
        </h3>
        <span><a href="{{ post.url | prepend: site.baseurl }}#more">{{ post.date | date: "%b %-d, %Y" }} {{ post.author }}</a></span>
      {% endfor %}
    </div>
  </div>
</div>
