<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container main">
      <div class="row">
        <div class="col-sm-9">
          <div class="row">
            <div class="col-sm-4">
              {% include links-of-toiminta.html %}
            </div>
            <div class="col-sm-8">
              {{ content }}
            </div>
          </div>
        </div>
        <div class="col-sm-3 posts-list">
          {% include list-of-posts.html %}
        </div>
      </div>
    </div>


    {% include footer.html %}

  </body>

</html>
